html { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
}
*, 
*::before, 
*::after { 
  -webkit-box-sizing: inherit; 
          box-sizing: inherit; 
}
html,
body {
  position: relative;
  
  width: 1200px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: left;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  height: 120px;
  margin-bottom: 535px;
  padding-top: 10px;
  z-index: 2;
}
.page-catalog-bg .main-header {
  margin-bottom: 0;
}
.page-catalog-bg .page-heading {
  margin-top: 0;
  margin-bottom: 45px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 854px;
  list-style: none;
}
.site-nav .site-logo,
.site-nav .nav-item {
  position: relative;
  margin-right: 27px;
}

.nav-link {
  position: relative;
  padding: 7px 14px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  
  border-radius: 16px;
}
.nav-link span {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,0.2);
}
.nav-link:hover,
.nav-link:active {
  color: #323232;
  
  background-color: #ffffff;
  border: 0;
  
  transition: background-color 0.5s ease-out;
}
.nav-link:hover span {
  border-bottom: none;
}
.nav-link:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.8);
}
.nav-link.active,
.nav-link.active:hover,
.nav-link.active:active {
  color: #ffffff;
  background-color: #d07058;
  box-shadow: none;
}
.nav-link.active span {
  border-bottom: 0;
}

.site-nav .site-logo,
.site-nav .site-logo:hover {
  border: 0;
  background-color: transparent;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 270px;
  height: 69px;
  list-style: none;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.user-nav li {
  margin-left: 10px;
}

.user-nav a {
  position: relative;
  padding: 7px 16px;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;
}
.user-nav a:hover,
.user-nav a:active {
  color: #323232;
  
  background-color: #ffffff;
}

.user-nav .user-login,
.user-nav .user-cart {
  padding-left: 44px;
  
  font-size: 14px;
  line-height: 16px;
  
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 0;
}
.user-nav .user-search:hover,
.user-nav .user-login:hover,
.user-nav .user-cart:hover {
  color: #323232;

  background-color: rgb(248, 247, 244);
  transition: background-color 0.5s ease-out;
}

.user-nav .user-search::before,
.user-nav .user-login::before,
.user-nav .user-cart::before {
  position: absolute;
  top: 6px;
  left: 16px;
  
  content: "";
  
  width: 21px;
  height: 20px;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjEiIGhlaWdodD0iMTkiPjxpbWFnZSBvdmVyZmxvdz0idmlzaWJsZSIgd2lkdGg9IjIxIiBoZWlnaHQ9IjE5IiB4bGluazpocmVmPSLQktGF0L7QtC5wbmciLz48ZyBmaWxsPSIjRkZGIj48cGF0aCBkPSJNNiAxNC44NzVMMTIuOTE3IDkuNSA2IDQuMTI1djIuOTE3SC0uMDQydjQuOTE3SDZ6Ii8+PHBhdGggZD0iTTE4IDBINUMzLjkgMCAzIC45IDMgMnYyaDJWMmgxM3YxNUg1di0ySDN2MmMwIDEuMS45IDIgMiAyaDEzYzEuMSAwIDItLjkgMi0yVjJjMC0xLjEtLjktMi0yLTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
}
.user-nav .user-login:hover::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjEiIGhlaWdodD0iMTkiPjxpbWFnZSBvdmVyZmxvdz0idmlzaWJsZSIgd2lkdGg9IjIxIiBoZWlnaHQ9IjE5IiB4bGluazpocmVmPSLQktGF0L7QtC5wbmciLz48ZyBmaWxsPSIjMzQzNDM0Ij48cGF0aCBkPSJNNiAxNC44NzVMMTIuOTE3IDkuNSA2IDQuMTI1djIuOTE3SC0uMDQydjQuOTE3SDZ6Ii8+PHBhdGggZD0iTTE4IDBINUMzLjkgMCAzIC45IDMgMnYyaDJWMmgxM3YxNUg1di0ySDN2MmMwIDEuMS45IDIgMiAyaDEzYzEuMSAwIDItLjkgMi0yVjJjMC0xLjEtLjktMi0yLTJ6Ii8+PC9nPjwvc3ZnPg==);
}
.user-nav .user-search::before {
  left: 8px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTciIGhlaWdodD0iMTciPjxpbWFnZSBvdmVyZmxvdz0idmlzaWJsZSIgd2lkdGg9IjE3IiBoZWlnaHQ9IjE3IiB4bGluazpocmVmPSLQm9GD0L/QsC5wbmciLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTYuOTU4IDE1LjUyN0wxMS43NSAxMC4zMkE2LjQ1NSA2LjQ1NSAwIDAgMCAxMyA2LjUgNi41IDYuNSAwIDEgMCA2LjUgMTNhNi40NjUgNi40NjUgMCAwIDAgMy44MzktMS4yNjNsNS4yMDUgNS4yMDQgMS40MTQtMS40MTR6TTYuNSAxMUM0LjAxOSAxMSAyIDguOTgxIDIgNi41UzQuMDE5IDIgNi41IDIgMTEgNC4wMTkgMTEgNi41IDguOTgxIDExIDYuNSAxMXoiLz48L3N2Zz4=);
}
.user-nav .user-search:hover::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTciIGhlaWdodD0iMTciPjxpbWFnZSBvdmVyZmxvdz0idmlzaWJsZSIgd2lkdGg9IjE3IiBoZWlnaHQ9IjE3IiB4bGluazpocmVmPSLQm9GD0L/QsC5wbmciLz48cGF0aCBmaWxsPSIjMzQzNDM0IiBkPSJNMTYuOTU4IDE1LjUyN0wxMS43NSAxMC4zMkE2LjQ1NSA2LjQ1NSAwIDAgMCAxMyA2LjUgNi41IDYuNSAwIDEgMCA2LjUgMTNhNi40NjUgNi40NjUgMCAwIDAgMy44MzktMS4yNjNsNS4yMDUgNS4yMDQgMS40MTQtMS40MTR6TTYuNSAxMUM0LjAxOSAxMSAyIDguOTgxIDIgNi41UzQuMDE5IDIgNi41IDIgMTEgNC4wMTkgMTEgNi41IDguOTgxIDExIDYuNSAxMXoiLz48L3N2Zz4=);
}
.user-nav .user-cart::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0iI0ZGRiI+PHBhdGggZD0iTTUuNjU3IDIuMDMxTDUuNDIyIDBIMHYyaDMuNjRsMS41IDEzaDEzLjk4OGwxLjY5OS0xMi45NjlINS42NTd6TTE3LjM3MiAxM0g2LjkyMkw1Ljg4OCA0LjAzMWgxMi42NkwxNy4zNzIgMTN6Ii8+PGNpcmNsZSBjeD0iNi45ODQiIGN5PSIxOCIgcj0iMiIvPjxjaXJjbGUgY3g9IjE1Ljk4NCIgY3k9IjE4IiByPSIyIi8+PC9nPjwvc3ZnPg==);
}
.user-nav .user-cart:hover::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0iIzM0MzQzNCI+PHBhdGggZD0iTTUuNjU3IDIuMDMxTDUuNDIyIDBIMHYyaDMuNjRsMS41IDEzaDEzLjk4OGwxLjY5OS0xMi45NjlINS42NTd6TTE3LjM3MiAxM0g2LjkyMkw1Ljg4OCA0LjAzMWgxMi42NkwxNy4zNzIgMTN6Ii8+PGNpcmNsZSBjeD0iNi45ODQiIGN5PSIxOCIgcj0iMiIvPjxjaXJjbGUgY3g9IjE1Ljk4NCIgY3k9IjE4IiByPSIyIi8+PC9nPjwvc3ZnPg==);
}
.user-cart.cart-has-items {
  color: #323232;
  
  background-color: #ffffff;
}
.user-cart.cart-has-items::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMCI+PHBhdGggZmlsbD0iI0U4NEQzNyIgZD0iTTUuODg4IDQuMDMxTDYuOTIyIDEzaDEwLjQ1bDEuMTc2LTguOTY5eiIvPjxjaXJjbGUgZmlsbD0iIzM0MzQzNCIgY3g9IjYuOTg0IiBjeT0iMTgiIHI9IjIiLz48Y2lyY2xlIGZpbGw9IiMzNDM0MzQiIGN4PSIxNS45ODQiIGN5PSIxOCIgcj0iMiIvPjxwYXRoIGZpbGw9IiMzNDM0MzQiIGQ9Ik01LjY1NyAyLjAzMUw1LjQyMiAwSDB2MmgzLjY0bDEuNSAxM2gxMy45ODhsMS42OTktMTIuOTY5SDUuNjU3ek0xNy4zNzIgMTNINi45MjJMNS44ODggNC4wMzFoMTIuNjZMMTcuMzcyIDEzeiIvPjwvc3ZnPg==);
}

.subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 854px;
}
.breadcrumbs li {
  margin-right: 7px;  
}
.breadcrumbs li:not(:last-child)::after {
  content: '»';
  padding-left: 7px;
}

.breadcrumbs a {  
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  
  border-bottom-width: 1px;  
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,0.2);
}
.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255,188,158,0.3);
}

/* form styles */
.form-field {
  margin: 0;
  padding: 10px 15px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(178,178,178,0.52);
}
.form-field:hover {
  box-shadow: 0 0 0 2px rgba(178,178,178,1);
}
.form-field:active,
.form-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(46,136,228,0.52);
}

.form-field::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}
.form-field::-moz-placeholder {
  font-weight: 400;
  color: #999999;
} /* Firefox 19+ */
.form-field:-moz-placeholder {
  font-weight: 400;
  color: #999999;
} /* Firefox 18- */
.form-field:-ms-input-placeholder {
  font-weight: 400;color: #999999;
}

/* page backgrounds */
.page-index-bg1,
.page-catalog-bg {
  background-color: #849d8f;
}
.page-index-bg2 {
  background-color: #8996a6;
}
.page-index-bg3 {
  background-color: #9d8b84;
}

/* nav subitems */
.nav-subitems {
  position: absolute;
  top: 38px;
  left: -7px;
  
  width: 143px;
  margin: 0;
  padding: 6px 0;
  
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  list-style: none;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.subitems-item {
  padding: 0 6px;
  padding: 3px 13px;
}
.subitems-item:hover {
  background-color: rgb(251, 222, 215);
}
.subitems-item:active {
  background-color: rgb(246, 181, 165);
}
.subitems-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232; 
}
.subitems-item.new {
  border-bottom: 1px solid rgba(50,50,50,0.2);
}
.subitems-item.new a {
  font-weight: 700;
}
.subitems-item.active {
  background-color: rgb(208, 112, 88);
}
.subitems-item.active a {
  color: #ffffff;
}

.header-contacts {
  margin: 0;
  padding: 0;
  width: 180px;
  margin-left: auto;
  
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}
.header-contacts .contacts-phone {
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
}
.header-contacts a.contacts-phone:hover {
  opacity: 0.8;
}

.products-promo-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.promo-slider {
  width: 1045px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.promo-slider .slider-item {
  display: none;
}
.promo-slider .active {
  display: block;
}
.slider-item h3 {
  position: absolute;
  top: 330px;
  width: 675px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.slider-item .button-large {
  position: absolute;
  top: 542px;
  
  margin-left: auto;
  margin-right: auto;
}
.slider-pagination {
  position: absolute;
  top: 600px;
  left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-pagination li {
  margin-right: 8px;
}

/* main */
.main-content {
  position: relative;
  z-index: 3;
}
.page-heading {
  font-size: 35px;
  line-height: 41px;
}

/* slider */
.slider-item h3 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}
.slider-pagination {
  position: absolute;
  top: 542px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 31px 0;
}
.pagination-button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.pagination-button:hover,
.pagination-button:focus {
  outline: none;
  background-color: rgba(248, 247, 244, 0.2);
}
.pagination-button:active,
.pagination-button.active {
  background-color: rgb(255, 255, 255);
}

/* buttons */
.button {
  display: inline-block;
  padding: 10px 24px;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  
  background-color: #dd7258;
  text-decoration: none;
  text-align: center;
  
  border: 0;
  border-radius: 24px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  cursor: pointer;
}
.button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.34);
}
.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.button-large {
  left: 50%;
  transform: translate(-50%, 0);
  
  padding: 15px 50px;
  
  font-size: 32px;
  line-height: 44px;
  
  border-radius: 50px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.button-large:hover {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.50);
}
.button-large:active {
  box-shadow: inset 0px 3px 3px 0px rgba(148, 39, 24, 0.64);
}

/* banners */
.banners {
  margin-bottom: 40px;
}
.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner {
  position: relative;
  
  width: 561px;
  height: 230px;
  padding: 20px;
  
  border-radius: 20px;
}
.banner h3 {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  
  font-size: 35px;
  line-height: 41px;
}
.banner p {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  
  font-size: 18px;
  line-height: 22px;
}
.banner .button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.banner-raspberry {
  background-color: #691224;
  background-image: url('../img/raspberry-bg.jpg');
}
.banner-chocolate {
  background-color: #472b1f;
  background-image: url('../img/chocolate-bg.jpg');
}

/* filters */
.catalog-filters {
  margin-bottom: 0;
}
.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 860px;
}
.filters-form .fieldset {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding: 7px 14px;
  
  border: 0;
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 24px;
}
.filters-form .fieldset:nth-child(1) {
  width: 195px;
}
.filters-form .fieldset:nth-child(2) {
  width: 220px;
}
.filters-form .fieldset:nth-child(3) {
  width: auto;
}
.filters-form .fieldset:nth-child(4) {
  width: 703px;
}

.fieldset legend {
  position: absolute;
  left: 14px;
  top: -20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.fieldset label {
  padding-left: 33px;
  margin-right: 16px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.fieldset label:last-child {
  margin-right: 0;
}

.field-dropdown {
  position: relative;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  
  border: 0;
  background-color: transparent;
}
.fieldset.sorting:hover .field-dropdown {
  color: #323232;
}
.field-dropdown .options {
  position: absolute;
  left: 0;
  bottom: 0;
}
.field-dropdown option {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.filter-field + label {
  position: relative;
  cursor: pointer;
}
.filter-field + label::before {
  opacity: 0.8;
}
.filter-field[type="checkbox"] + label::before,
.filter-field[type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  
  content: "";
  width: 20px;
  height: 20px;
  
  background-repeat: no-repeat;
  background-size: cover;
  
}
.filter-field[type="checkbox"] + label:hover::before,
.filter-field[type="radio"] + label:hover::before {
  opacity: 1;
}
.filter-field[type="checkbox"]:disabled + label::before,
.filter-field[type="radio"]:disabled + label::before {
  opacity: 0.3;
}
.filter-field[type="checkbox"]:not(:checked) + label::before {
  background-image: url('../img/checkbox-icon-off.svg');
}

.filter-field[type="checkbox"]:checked + label::before {
  background-image: url('../img/checkbox-icon-on.svg');
}

.filter-field[type="radio"]:not(:checked) + label::before {
  background-image: url('../img/radio-icon-off.svg');
}

.filter-field[type="radio"]:checked + label::before {
  background-image: url('../img/radio-icon-on.svg');
}

.button-filters {
  width: 144px;
  margin-bottom: 40px;
  padding: 9px 29px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-shadow: none;
  
  background-color: rgba(255, 255, 255, 0.188);
  background-image: none;
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
}
.button-filters:hover {
  color: #323232;
  
  background-color: rgb(255, 255, 255);
  background-image: none;
}
.button-filters:active {
  color: #323232;
  
  background-color: rgb(237, 237, 237);
  background-image: none;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.64);
}

/* catalog-items */
.catalog-wrapper {
  width: 1172px;
  margin: 0 auto;
}
.catalog-hot {
  margin-bottom: -50px;
}
.catalog-hot .catalog-item {
  position: relative;
}
.catalog-hot .catalog-item::before {
  content: "";
  
  position: absolute;
  left: 6px;
  top: 6px;
  width: 61px;
  height: 61px;
  background-image: url('../img/hot-icon.svg');
}
.catalog {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,0.3);
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}
.catalog-item {
  position: relative;
  width: 293px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 20px;
  margin-bottom: -40px;
  
  text-align: center;
  
  z-index: 1;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item .button {
  display: inline-block;
  visibility: hidden;
}
.catalog-item .item-price {
  position: absolute;
  left: 15px;
  top: 215px;
  
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.item-price span {
  font-size: 30px;
}
.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease-out;
  z-index: 2;
}
.catalog-item:hover .button {
  visibility: visible;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.item-price span {
  font-size: 30px;
  line-height: 45px;
}
.catalog-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

/* pagination */
.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination-list .list-item {
  margin-right: 10px;
}

.list-item a {
  position: relative;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  
  border-radius: 50%;
  border-bottom-width: 0;
}
.list-item a:hover {
  background-color: rgba(255,255,255, 0.2);
}
.list-item a:active,
.list-item a.active {
  color: #323232;
  
  background-color: rgb(255,255,255);
}
.pagination-list .page-previous,
.pagination-list .page-next {
  position: relative;
  margin-right: 31px;
}
.pagination-list .page-next {
  margin-right: 16px;
}
.pagination-list .page-previous::before,
.pagination-list .page-next::before {
  position: absolute;
  top: 1;
  left: 0;
  content: "";
  width: 21px;
  height: 21px;
  
  background-image: url('../img/navigation-icon-previous.svg');
  background-repeat: no-repeat;
  background-position: center center;
  
  transform: rotate(180deg);
}
.pagination-list .page-next::before {
  transform: none;
}
.page-previous.disabled::before,
.page-next.disabled::before {
  opacity: 0.3;
}

/* about */
.about {
  margin-bottom: 40px;
  padding: 20px;
  padding-bottom: 0;
  
  background-color: #f1e5cc;
  background-image: url('../img/waffle-bg.jpg');
  border-radius: 20px;
}
.about .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  font-weight: 400;
  color: #323232;
  list-style: none;
}
.about-list li {
  position: relative;
  width: 540px;
  margin-bottom: 23px;
  padding-left: 57px;  
}
.about .heading {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.about .icecream-mark::before,
.about .cow-mark::before,
.about .leaf-mark::before,
.about .temp-mark::before {
  content: "";
  width: 49px;
  height: 49px;
  
  position: absolute;
  left: 0;
  top: -14px;
  
  background-image: url('../img/icecream-icon.svg');
  background-repeat: no-repeat;
}
.about .cow-mark::before {
  background-image: url('../img/cow-icon.svg');
}
.about .leaf-mark::before {
  background-image: url('../img/leaf-icon.svg');
}
.about .temp-mark::before {
  background-image: url('../img/temp-icon.svg');
}
/* blog-post */
.blog-post {
  padding: 20px;
  
  background-color: #ffffff;
  background-image: url('../img/strawberry-bg.jpg');
  background-repeat: no-repeat;
  border-radius: 20px;
}
.blog-post b {
  font-weight: 500;
  color: #323232;
}
.blog-post h1 {
  width: 285px;
  
  font-size: 24px;
  line-height: 30px;
}

/* subscription */
.email-subscribe {
  padding: 5px;
  
  background-image: url('../img/striped-bg.png');
  background-repeat: no-repeat;
  border-radius: 20px;
}
.subscribe-inner {
  padding: 32px 20px;
  background-color: #f8f7f4;
  border-radius: 20px;
}
.subscribe-inner p {
  margin: 0;
  margin-bottom: 35px;
  
  font-weight: 400;
  color: #5a5a5a;
}
.subscribe-form {
  display: flex;
  align-items: flex-start;
}
.subscribe-form .field-email {
  width: 368px;
}
.subscribe-form .button {
  margin-left: 11px;
  padding: 10px 17px;
}

.blog-mail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.blog-post,
.email-subscribe {
  width: 560px;
}

/* contacts */
.contacts-map {
  padding: 62px 0;
  
  background-color: #dbddc3;
  background-image: url('../img/contacts-map.jpg');
}
.contacts-map .content-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.content-wrapper .contacts-address {
  align-self: center;
  
  width: 302px;
  height: 305px;
  padding: 25px;
  
  background-color: #f7f7f7;
  border-radius: 20px;
}
.contacts-address p {
  margin: 0;
  margin-bottom: 25px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.contacts-address b {
  display: block;
  
  font-size: 18px;
  line-height: 24px;
}
.contacts-address a {
  color: inherit;
  
  text-decoration: none;
}
.contacts-address .button {
  width: 100%;
}

/* footer */
.main-footer .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 103px;
}

.main-footer a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer-social {
  width: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social li {
  margin-right: 16px;
}

.footer-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  width: 380px;
}
.footer-info,
.footer-docs {
  margin: 0;
  padding: 0;
}
.footer-info {
  margin-right: 32px;
}

.footer-copyright {
  width: 191px;
  margin: 0;
  padding: 0;
}
.footer-copyright,
.footer-copyright a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-copyright .copyright-logo {
  border: 0;
}
.main-footer .heart-mark {
  position: relative;
  font-weight: 700;
}
.heart-mark::before {
  position: absolute;
  top: 2px;
  left: -22px;
  content: "";
  width: 22px;
  height: 14px;
  background-image: url('../img/heart-icon.svg');
  background-repeat: no-repeat;
}
.footer-social .social-item {
  position: relative;
  border-bottom-width: 0;
  opacity: 0.8;
}
.footer-social .social-item:hover {
  opacity: 1;
}
.footer-social .social-item:active {
  opacity: 0.5;
}
.social-item img {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.5);
}

/* modals */
.modal {
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.modal h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}
.modal p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #323232;
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  
  width: 18px;
  height: 18px;
  
  border: 0;
  background-color: transparent;
  background-image: url('../img/modal-icon-close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  
  cursor: pointer;
}
.action-delete {
  display: inline-block;
  width: 11px;
  height: 11px;
  
  border: 0;
  background-color: transparent;
  background-image: url('../img/modal-icon-close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.user-cart-products {
  margin-bottom: 16px;
  width: auto;
  
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  
  border: 0;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-bottom: 1px solid #cacac7;
}

.user-cart-products img {
  border-radius: 50%;
}
.user-login-modal .login-controls {
  display: flex;
  align-items: flex-start;
}
.user-search-modal .form-field {
  width: 311px;
}
.user-login-modal .form-field {
  width: 241px;
}
.feedback-form-modal .form-field {
  min-width: 267px;
}

.link {
  color: rgb(255,255,255);
}
.link:hover,
.link:active {
  color: rgb(255,188,158);
}
.link span {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.link:hover span,
.link:active span {
  border-bottom-color: rgba(255,188,158,0.2);
}

.link-inverted {
  color: #323232;
}
.link-inverted:hover,
.link-inverted:active {
  color: rgb(232,77,55);
}
.link-inverted span {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.link-inverted:hover span,
.link-inverted:active span {
  border-bottom: 1px solid rgba(232,77,55,0.3);
}
.login-controls .controls-links {
  margin: 0;
}
.link-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.login-controls .button {
  margin-right: 20px;
}

.user-cart-modal .user-cart-total {
  margin-bottom: 14px;
  
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}
.cart-action {
  width: 25px;
}
.cart-product-thumbnail {
  width: 47px;
}
.cart-product-title {
  width: 247px;
}
.cart-product-quantity {
  width: 122px;
}
.cart-product-price {
  width: 68px;
}
.cart-action a {
  text-decoration: none;
}
.cart-product-quantity span {
  color: #999999;
}

.field-search {
  width: 311px;
}

/* utilities */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}
.text-right {
  text-align: right;
}
.hl {
  -box-shadow: inset 0 0 0 2px yellow;
  outline: 1px dotted red;
}
